  <mat-toolbar color="primary">
  <span><a [routerLink]="['/body']">Youbike</a></span>
  <span class="example-spacer"></span>
  <mat-menu #messageMenu="matMenu">
    <button mat-menu-item  (click)="Passchange()"  value="1.0">
      <mat-icon color="primary">directions_bike</mat-icon>Ubike1.0
    </button>

    <button mat-menu-item  (click)="Default()" value="2.0">
      <mat-icon color="warn">directions_bike</mat-icon>
      Ubike2.0
    </button>

    <button mat-menu-item [routerLink]="['/signin']">
      <mat-icon color="primary">person</mat-icon>
      Sign in
    </button>

    <button mat-menu-item [routerLink]="['/signin']">
      <mat-icon color="warn">logout</mat-icon>
      Sign out
    </button>

    <button mat-menu-item>
      <mat-icon color="primary">home</mat-icon>
      <a href="https://www.youbike.com.tw/region/main/">Ubike Home Page</a>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>



